USE [master]
GO
/****** Object:  Database [ComputerBD]    Script Date: 03.03.2026 14:37:06 ******/
CREATE DATABASE [ComputerBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputerBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComputerBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputerBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ComputerBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputerBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputerBD]
GO
/****** Object:  Table [dbo].[Assembly_Tasks]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assembly_Tasks](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[order_item_id] [int] NOT NULL,
	[device_type] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NULL,
	[start_date] [date] NULL,
	[completion_date] [date] NULL,
	[assembly_engineer_id] [int] NULL,
	[testing_engineer_id] [int] NULL,
	[notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[street] [nvarchar](50) NULL,
	[houseNumber] [nchar](10) NULL,
 CONSTRAINT [PK__Clients__BF21A424EC8A1253] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients_log]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[houseNumber] [nchar](10) NOT NULL,
	[creationDate] [date] NULL,
 CONSTRAINT [PK_Clients_log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Component_Requests]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component_Requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[request_date] [date] NOT NULL,
	[status] [nvarchar](50) NULL,
	[issued_quantity] [int] NULL,
	[issued_date] [date] NULL,
	[notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[specifications] [text] NULL,
	[unit_of_measure] [nvarchar](50) NULL,
	[critical_stock_level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[position_id] [int] NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[house_number] [nchar](4) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK__Employee__C52E0BA8D914FD46] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_type] [nvarchar](100) NOT NULL,
	[configuration] [text] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](15, 2) NOT NULL,
	[assembly_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NOT NULL,
	[status] [nvarchar](50) NULL,
	[total_amount] [decimal](15, 2) NULL,
	[client_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[position_id] [int] NOT NULL,
	[position_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Balance]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Balance](
	[component_id] [int] NOT NULL,
	[current_quantity] [int] NOT NULL,
	[min_stock_level] [int] NULL,
	[max_stock_level] [int] NULL,
	[storage_location] [nvarchar](100) NULL,
	[last_updated] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[houseNumber] [nchar](10) NULL,
	[reliability_rating] [int] NOT NULL,
 CONSTRAINT [PK__Supplier__6EE594E8830A311C] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 03.03.2026 14:37:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[supply_id] [int] IDENTITY(1,1) NOT NULL,
	[component_id] [int] NOT NULL,
	[supplier_id] [int] NOT NULL,
	[supply_date] [date] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](15, 2) NOT NULL,
	[delivery_status] [nvarchar](50) NULL,
	[invoice_number] [nvarchar](100) NULL,
 CONSTRAINT [PK__Supplies__4870CD83B7142A19] PRIMARY KEY CLUSTERED 
(
	[supply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assembly_Tasks] ON 

INSERT [dbo].[Assembly_Tasks] ([task_id], [order_item_id], [device_type], [status], [start_date], [completion_date], [assembly_engineer_id], [testing_engineer_id], [notes]) VALUES (1, 1, N'Рабочая станция', N'in_progress', CAST(N'2024-01-25' AS Date), NULL, 1, 2, N'Срочный заказ')
INSERT [dbo].[Assembly_Tasks] ([task_id], [order_item_id], [device_type], [status], [start_date], [completion_date], [assembly_engineer_id], [testing_engineer_id], [notes]) VALUES (2, 3, N'Игровой ПК', N'completed', CAST(N'2024-01-21' AS Date), CAST(N'2024-01-23' AS Date), 1, 2, N'Тестирование пройдено')
INSERT [dbo].[Assembly_Tasks] ([task_id], [order_item_id], [device_type], [status], [start_date], [completion_date], [assembly_engineer_id], [testing_engineer_id], [notes]) VALUES (3, 5, N'Медиа станция', N'in_progress', CAST(N'2024-01-24' AS Date), NULL, 1, NULL, N'Ожидаем видеокарту')
SET IDENTITY_INSERT [dbo].[Assembly_Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([client_id], [name], [street], [houseNumber]) VALUES (1, N'ООО "Ленинград"', N'Ул. Динамо', N'100       ')
INSERT [dbo].[Clients] ([client_id], [name], [street], [houseNumber]) VALUES (2, N'АО "БанкСтрой"', N'Ленинский проспект', N'14        ')
INSERT [dbo].[Clients] ([client_id], [name], [street], [houseNumber]) VALUES (3, N'ИП Колесников В.С.', N'ул. Кузнецова', N'3         ')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients_log] ON 

INSERT [dbo].[Clients_log] ([Id], [client_id], [name], [houseNumber], [creationDate]) VALUES (1, 15, N'ООО "ТехноПрофи"', N'123       ', NULL)
INSERT [dbo].[Clients_log] ([Id], [client_id], [name], [houseNumber], [creationDate]) VALUES (2, 16, N'ООО "ТехноПрофи"', N'123       ', NULL)
INSERT [dbo].[Clients_log] ([Id], [client_id], [name], [houseNumber], [creationDate]) VALUES (3, 17, N'ООО "ТехноПрофи"', N'1743      ', CAST(N'2025-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[Clients_log] OFF
GO
SET IDENTITY_INSERT [dbo].[Component_Requests] ON 

INSERT [dbo].[Component_Requests] ([request_id], [task_id], [component_id], [quantity], [request_date], [status], [issued_quantity], [issued_date], [notes]) VALUES (1, 1, 1, 3, CAST(N'2024-01-25' AS Date), N'issued', 3, CAST(N'2024-01-25' AS Date), N'Для рабочих станций')
INSERT [dbo].[Component_Requests] ([request_id], [task_id], [component_id], [quantity], [request_date], [status], [issued_quantity], [issued_date], [notes]) VALUES (2, 1, 2, 6, CAST(N'2024-01-25' AS Date), N'issued', 6, CAST(N'2024-01-25' AS Date), N'32GB на систему')
INSERT [dbo].[Component_Requests] ([request_id], [task_id], [component_id], [quantity], [request_date], [status], [issued_quantity], [issued_date], [notes]) VALUES (3, 3, 3, 2, CAST(N'2024-01-24' AS Date), N'partial', 1, CAST(N'2024-01-24' AS Date), N'Ожидаем остаток')
SET IDENTITY_INSERT [dbo].[Component_Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Components] ON 

INSERT [dbo].[Components] ([component_id], [name], [type], [specifications], [unit_of_measure], [critical_stock_level]) VALUES (1, N'Процессор Intel Core i7-12700K', N'CPU', N'12 ядер, 3.6 GHz', N'шт', 2)
INSERT [dbo].[Components] ([component_id], [name], [type], [specifications], [unit_of_measure], [critical_stock_level]) VALUES (2, N'Оперативная память DDR4 16GB', N'RAM', N'3200 MHz, DIMM', N'шт', 10)
INSERT [dbo].[Components] ([component_id], [name], [type], [specifications], [unit_of_measure], [critical_stock_level]) VALUES (3, N'SSD накопитель 1TB', N'Storage', N'NVMe M.2', N'шт', 5)
SET IDENTITY_INSERT [dbo].[Components] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([employee_id], [name], [surname], [position_id], [street], [house_number], [is_active]) VALUES (1, N'Алексей ', N'Иванов', 1, N'ул. Пушкина', N'15  ', 1)
INSERT [dbo].[Employees] ([employee_id], [name], [surname], [position_id], [street], [house_number], [is_active]) VALUES (2, N'Ольга ', N'Смирнова', 2, N'ул. Лермонтова', N'23  ', 1)
INSERT [dbo].[Employees] ([employee_id], [name], [surname], [position_id], [street], [house_number], [is_active]) VALUES (3, N'Дмитрий ', N'Петров', 3, N'пр. Гагарина', N'45  ', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Items] ON 

INSERT [dbo].[Order_Items] ([order_item_id], [order_id], [product_type], [configuration], [quantity], [unit_price], [assembly_status]) VALUES (1, 1, N'Рабочая станция', N'i7/32GB/1TB SSD', 3, CAST(45000.00 AS Decimal(15, 2)), N'in_assembly')
INSERT [dbo].[Order_Items] ([order_item_id], [order_id], [product_type], [configuration], [quantity], [unit_price], [assembly_status]) VALUES (2, 1, N'Сервер', N'Xeon/64GB/2TB SSD', 1, CAST(50000.00 AS Decimal(15, 2)), N'not_started')
INSERT [dbo].[Order_Items] ([order_item_id], [order_id], [product_type], [configuration], [quantity], [unit_price], [assembly_status]) VALUES (3, 2, N'Игровой ПК', N'i5/16GB/512GB SSD', 2, CAST(46000.00 AS Decimal(15, 2)), N'completed')
SET IDENTITY_INSERT [dbo].[Order_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [order_date], [status], [total_amount], [client_id]) VALUES (1, CAST(N'2024-01-20' AS Date), N'in_progress', CAST(185000.00 AS Decimal(15, 2)), 1)
INSERT [dbo].[Orders] ([order_id], [order_date], [status], [total_amount], [client_id]) VALUES (2, CAST(N'2024-01-21' AS Date), N'completed', CAST(92000.00 AS Decimal(15, 2)), 2)
INSERT [dbo].[Orders] ([order_id], [order_date], [status], [total_amount], [client_id]) VALUES (3, CAST(N'2024-01-22' AS Date), N'new', CAST(156000.00 AS Decimal(15, 2)), 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Position] ([position_id], [position_name], [description]) VALUES (1, N'Инженер-сборщик', N'Сборка компьютерных систем и серверов')
INSERT [dbo].[Position] ([position_id], [position_name], [description]) VALUES (2, N'Инженер-тестировщик', N'Тестирование готовых систем')
INSERT [dbo].[Position] ([position_id], [position_name], [description]) VALUES (3, N'Менеджер по закупкам', N'Закупка комплектующих')
GO
INSERT [dbo].[Stock_Balance] ([component_id], [current_quantity], [min_stock_level], [max_stock_level], [storage_location], [last_updated]) VALUES (1, 8, 2, 15, N'Секция A-1', CAST(N'2024-01-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Stock_Balance] ([component_id], [current_quantity], [min_stock_level], [max_stock_level], [storage_location], [last_updated]) VALUES (2, 35, 10, 60, N'Секция B-2', CAST(N'2024-01-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Stock_Balance] ([component_id], [current_quantity], [min_stock_level], [max_stock_level], [storage_location], [last_updated]) VALUES (3, 12, 5, 25, N'Секция C-1', CAST(N'2024-01-25T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([supplier_id], [name], [street], [houseNumber], [reliability_rating]) VALUES (2, N'ООО "ЭлектронКомплект"', N'Ленинградский проспект', N'15        ', 7)
INSERT [dbo].[Suppliers] ([supplier_id], [name], [street], [houseNumber], [reliability_rating]) VALUES (3, N'АО "Компьютерные системы"', N'ул. Тверская', N'28        ', 7)
INSERT [dbo].[Suppliers] ([supplier_id], [name], [street], [houseNumber], [reliability_rating]) VALUES (4, N'ИП Сидоров А.В.', N'проспект Мира', N'63        ', 5)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([supply_id], [component_id], [supplier_id], [supply_date], [quantity], [unit_price], [delivery_status], [invoice_number]) VALUES (3, 1, 2, CAST(N'2024-01-15' AS Date), 10, CAST(28500.00 AS Decimal(15, 2)), N'delivered', N'INV-001')
INSERT [dbo].[Supplies] ([supply_id], [component_id], [supplier_id], [supply_date], [quantity], [unit_price], [delivery_status], [invoice_number]) VALUES (4, 2, 3, CAST(N'2024-01-16' AS Date), 50, CAST(4500.00 AS Decimal(15, 2)), N'delivered', N'INV-002')
INSERT [dbo].[Supplies] ([supply_id], [component_id], [supplier_id], [supply_date], [quantity], [unit_price], [delivery_status], [invoice_number]) VALUES (5, 3, 4, CAST(N'2024-01-17' AS Date), 20, CAST(6500.00 AS Decimal(15, 2)), N'delivered', N'INV-003')
SET IDENTITY_INSERT [dbo].[Supplies] OFF
GO
ALTER TABLE [dbo].[Assembly_Tasks] ADD  DEFAULT ('назначено') FOR [status]
GO
ALTER TABLE [dbo].[Component_Requests] ADD  DEFAULT (CONVERT([date],getdate())) FOR [request_date]
GO
ALTER TABLE [dbo].[Component_Requests] ADD  DEFAULT ('запрошено') FOR [status]
GO
ALTER TABLE [dbo].[Component_Requests] ADD  DEFAULT ((0)) FOR [issued_quantity]
GO
ALTER TABLE [dbo].[Components] ADD  DEFAULT ((0)) FOR [critical_stock_level]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__is_ac__4D94879B]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Order_Items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Order_Items] ADD  DEFAULT ('ожидает сборки') FOR [assembly_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (CONVERT([date],getdate())) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('новый') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Stock_Balance] ADD  DEFAULT ((0)) FOR [current_quantity]
GO
ALTER TABLE [dbo].[Stock_Balance] ADD  DEFAULT ((0)) FOR [min_stock_level]
GO
ALTER TABLE [dbo].[Stock_Balance] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[Supplies] ADD  CONSTRAINT [DF__Supplies__supply__6477ECF3]  DEFAULT (CONVERT([date],getdate())) FOR [supply_date]
GO
ALTER TABLE [dbo].[Supplies] ADD  CONSTRAINT [DF__Supplies__delive__656C112C]  DEFAULT ('доставлено') FOR [delivery_status]
GO
ALTER TABLE [dbo].[Assembly_Tasks]  WITH CHECK ADD FOREIGN KEY([order_item_id])
REFERENCES [dbo].[Order_Items] ([order_item_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assembly_Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Assembly_Tasks_Employees] FOREIGN KEY([assembly_engineer_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Assembly_Tasks] CHECK CONSTRAINT [FK_Assembly_Tasks_Employees]
GO
ALTER TABLE [dbo].[Assembly_Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Assembly_Tasks_Employees1] FOREIGN KEY([testing_engineer_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Assembly_Tasks] CHECK CONSTRAINT [FK_Assembly_Tasks_Employees1]
GO
ALTER TABLE [dbo].[Component_Requests]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([component_id])
GO
ALTER TABLE [dbo].[Component_Requests]  WITH CHECK ADD FOREIGN KEY([task_id])
REFERENCES [dbo].[Assembly_Tasks] ([task_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Position] FOREIGN KEY([position_id])
REFERENCES [dbo].[Position] ([position_id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Position]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Stock_Balance]  WITH CHECK ADD FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([component_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK__Supplies__compon__6754599E] FOREIGN KEY([component_id])
REFERENCES [dbo].[Components] ([component_id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK__Supplies__compon__6754599E]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK__Supplies__suppli__68487DD7] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK__Supplies__suppli__68487DD7]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [CK__Suppliers__relia__3A81B327] CHECK  (([reliability_rating]>=(0) AND [reliability_rating]<=(10)))
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [CK__Suppliers__relia__3A81B327]
GO
USE [master]
GO
