<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">API для компьютерной фабрики</h1>
        <p class="lead">API позволяет работать с добавлением, изминением, поиском и удалением данных</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    
</main>